<!DOCTYPE html>
<head>

<!--- basic page needs
  ================================================== -->
  <meta charset="utf-8">
  <title>Yugoff | Programmer, CV Engineer</title>
  <meta name="description" content="Blog of Vladimir Yugov. About life, work, and study.">
  <meta name="author" content="V.V Yugov">

<!-- mobile specific metas
  ================================================== -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<!-- CSS
  ================================================== -->
  <link rel="stylesheet" href="static/base.css">
  <link rel="stylesheet" href="static/main.css">
  <link rel="stylesheet" href="static/container.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="static/cursor.css">
  <link rel="stylesheet" href="static/greatness.css">
  <link rel="stylesheet" href="static/rotating.css">
  <link rel="stylesheet" href="static/node_modules/@fortawesome/fontawesome-free/css/all.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- script
  ================================================== -->
  <script src="static/pace.min.js"></script>
  <script src="static/plugins.js"></script>

<!-- favicons
  ================================================== -->
  <link rel="icon" type="images/png" href="static/images/favicon.png">
  
<!-- google-verification
  ================================================== --> 
  <meta name="google-site-verification" content="dH1WjGp-D19UAm3I1ZVf3ovvMsxk-mBWWldYkfcm3Ag" />
 
<!-- yandex-verification
  ================================================== --> 
  <meta name="yandex-verification" content="b1f5b894599698ad" />
  
<!-- Yandex.Metrika counter -->
 <script type="text/javascript" >
   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
   m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

   ym(84996175, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true
   });
 </script>
 <noscript><div><img src="https://mc.yandex.ru/watch/84996175" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->

</head>

<body id="top">

<!-- cursor section
  ================================================== -->

	<div class="cursor cursor-shadow"></div>
	<div class="cursor cursor-dot"></div>

  <!-- /cursor -->

<!-- header
  ================================================== -->
<header>
    <div class="row">

        <div class="top-bar">
      
            <a class="menu-toggle" href="#"><span>Menu</span></a>

                <div class="logo">
                    <a href="#">Home</a>
                </div>

        <nav id="main-nav-wrap">
            <ul class="main-navigation">
                <li class="current"><a class="smoothscroll"  href="#intro" title="">Home</a></li>
                <li><a class="smoothscroll"  href="#about" title="">About</a></li>
                <li><a class="smoothscroll"  href="#resume" title="">Resume</a></li>
                <li><a class="smoothscroll"  href="#portfolio" title="">Portfolio</a></li>
                <li><a class="smoothscroll"  href="#container" title="">Widgets</a></li>
            </ul>
        </nav>
        
        </div> <!-- /top-bar -->

    </div> <!-- /row -->
</header> <!-- /header -->

<!-- intro section
  ================================================== -->
<section id="intro">

    <div class="intro-overlay"></div>

        <div class="intro-content">
            <div class="row">

                <div class="col-twelve">

                    <h5>
                        <div class="content_rotating">Hello,
                      
                          <ul class="list">
                            <li>World.</li>
                            <li>Users.</li>
                            <li>Coders.</li>
                          </ul>

                        </div>
                    </h5>
                    <h1>I'm Vladimir</h1>

                        <p class="intro-position">
                            <span>Programmer</span>
                            <span>Computer Vision Engineer</span>
                        </p>

                            <a class="button stroke smoothscroll" href="#about" title="">More About Me</a>

                </div>

            </div>
        </div> <!-- /intro-content -->

<ul class="intro-social">
  <li><a href="mailto:vv-yugov@yandex.ru"><i class="fa fa-envelope"></i></a></li>
  <li><a href="https://vk.com/vv.yugoff"><i class="fa fa-vk"></i></a></li>
  <li><a href="https://www.instagram.com/vv.yugoff/"><i class="fa fa-instagram"></i></a></li>
  <li><a href="https://github.com/yugoff/"><i class="fa fa-github"></i></a></li>
</ul> <!-- /intro-social -->

</section> <!-- /intro -->


<!-- about section
  ================================================== -->
<section id="about">

    <div class="row section-intro">
        <div class="col-twelve">

            <h5>About</h5>
            <h1>Let me introduce myself.</h1>

                <div class="intro-info">

                    <img src="static/images/me-2.jpg" alt="Profile Picture">

                        <p class="lead">I am engaged in Computer Vision Engineer, which is an exciting and exciting field where I unlock my potential in computer vision and machine learning. 
                          My task is to research, develop and apply algorithms and models for image and video analysis and processing.</p>
      
                </div>

        </div>
    </div> <!-- /section-intro -->

    <div class="row about-content">

        <div class="col-six tab-full">

            <h3>Profile</h3>

                <ul class="info-list">
                    <li>
                        <strong>Fullname:</strong>
                        <span>Vladimir Yugov</span>
                    </li>

                    <li>
                        <strong>Birth Date:</strong>
                        <span>July 14, 2001</span>
                    </li>

                    <li>
                        <strong>Job:</strong>
                        <span>Programmer | Computer Vision Engineer</span>
                    </li>

                    <li>
                        <strong>Website:</strong>
                        <span><a href="https://yugoff.pythonanywhere.com/" target="_blank" title="Author page">yugoff.blog</a></span>
                    </li>

                    <li>
                      <strong>GitHub:</strong>
                      <span><a href="https://github.com/yugoff/" target="_blank" title="GitHub page">github.yugoff</a></span>
                    </li>

                    <li>
                        <strong>Email:</strong>
                        <span><a href="mailto:vv-yugov@yandex.ru" target="_blank" title="Email Me">vv-yugov@yandex.ru</a></span>
                    </li>

                    <li>
                      <strong>LinkedIn:</strong>
                      <span><a href="https://www.linkedin.com/in/yugoff/" target="_blank" title="LinkedIn page">linkedin.yugoff</a></span>
                    </li>
                </ul> <!-- /info-list -->

        </div>

        <div class="col-six tab-full" id="skills" style="text-align: justify;">

            <h3>Skills</h3>

            {% for skill in skills %}

              <p style="margin-bottom: 0px;">{{ skill.name }}</p>

            {% endfor %}

            <!-- <section class ="greatness">
              <div class ="ring-frame">
              
              </div>
              <div class = "disc-frame">
              
              </div>
              <section class = "loading">AND THIS IS JUST </br> THE BEGINNING</section>
            </section> -->

        </div>

    </div>

    <div class="row button-section">
	    <div class="col-twelve">
		    <a href="mailto:vv-yugov@yandex.ru" target="_blank" title="Email Me" class="button stroke">Email Me</a>
		    <a href="https://www.instagram.com/vv.yugoff/" target="_blank" title="Instagram Profile" class="button button-primary">Instagram Profile</a>
	    </div>
    </div>

</section> <!-- /process-->


<!-- resume Section
  ================================================== -->
<section id="resume" class="grey-section">

    <div class="row section-intro">
        <div class="col-twelve">

            <h5>Resume</h5>
            <h1>More of my credentials.</h1>

        </div>
    </div> <!-- /section-intro-->

    <div class="row resume-timeline">

        <div class="col-twelve resume-header">

            <h2>Work Experience</h2>

        </div> <!-- /resume-header -->

        <div class="col-twelve">

            <div class="timeline-wrap">

                <div class="timeline-block">

                  <div class="timeline-ico">
                  
                      <i class="fa fa-briefcase"></i>
                  
                  </div>
    
                  <div class="timeline-header">
    
                      <h3>Computer Vision Engineer</h3>
                      <p>August 2022 - Now</p>
              
                  </div>

                  <div class="timeline-content">
              
                      <h4>Yekaterinburg, Russia</h4>
                      <p>
                        At my current workplace, I am developing systems using neural networks. One of the projects is a CVAT-based markup system that allows you to mark up data. A module with neural network training based on the YOLOv8 architecture was introduced into the system, which allows you to work in conjunction and get a ready-made model for further use at the output. The technology stack used is Git, Django, CVAT, REST API, YOLO, PostgreSQL.
                        I am developing a real-time object recognition system with the collection of telemetry data of objects using the YOLOv8 architecture, which allows recognizing an object and its coordinates in the image. Technology stack used: Git, Django, gRPC, PostgreSQL.
                        I am working on improving the system for searching for unique points and matching them in images to more accurately detect objects in the images. The technology stack used is Super Point Detector, Disk Detector and Fast Detector.
                        Additionally: he developed a Telegram bot that replaced the corporate portal in our company. This bot provides a user-friendly interface for employees and allows them to receive the necessary information. The technology stack used is Python, Docker, aiogram, InfluxDB, Grafana.
                      </p>
                  </div>
    
              </div> <!-- /timeline-block -->

              <div class="timeline-block">

                <div class="timeline-ico">
                
                    <i class="fa fa-briefcase"></i>
                
                </div>
  
                <div class="timeline-header">
  
                    <h3>System Administrator</h3>
                    <p>January 2019 -  January 2021</p>
            
                </div>

                <div class="timeline-content">
            
                    <h4>Yekaterinburg, Russia</h4>
                    <p>
                      In parallel with my studies, I developed websites using technologies such as JS and React. The following sites are examples of my work: https://nkscapital.ru , https://global-ekb.ru , https://ilanbusiness.ru , https://yugoff .blog, http://rsc-ilan.ru, http://domos.top.
                      He worked on the implementation of the Azure Active Directory cloud server for his organization. My task was to set up and implement this system, ensuring the protection and convenience of working with employee data and accounts.
                      Additionally, he was engaged in organizing and configuring a local network on MiKroTik equipment. My task was to create a reliable and stable network that meets the requirements of the organization.
                      He was responsible for setting up and monitoring the functioning of the software for all employees of the organization. My task was to install and maintain the necessary software, as well as to ensure smooth operation and timely updating of software solutions for employees.
                    </p>
                </div>
  
            </div> <!-- /timeline-block -->

            </div> <!-- /timeline-block -->

        </div> <!-- /timeline-wrap -->

    </div> <!-- /col-twelve -->

  <div class="row resume-timeline">

    <div class="col-twelve resume-header">

      <h2>Education</h2>

    </div> <!-- /resume-header -->

    <div class="col-twelve">

      <div class="timeline-wrap">

        <div class="timeline-block">

          <div class="timeline-ico">
            <i class="fa fa-graduation-cap"></i>
          </div>

          <div class="timeline-header">
            <h3>Higher education</h3>
            <p>September 2019 - August 2023</p>
          </div>

          <div class="timeline-content">
            <h4>Ural State Forest Engineering University</h4>
            <p>Vladimir Yugov graduated from the Socio-Economic University in the field of applied Informatics. He graduated with a red diploma.</p>
          </div>

        </div> <!-- /timeline-block -->

        <div class="timeline-block">

          <div class="timeline-ico">
          
              <i class="fa fa-graduation-cap"></i>
          
          </div>

          <div class="timeline-header">

              <h3>Scientific activity</h3>
              <p>January 2019 - August 2023</p>
      
          </div>

          <div class="timeline-content">
      
              <h4>Yekaterinburg, Russia</h4>
              <p>Publishes up to eight articles a year covering public-private partnership in the Sverdlovsk region. 
              </p>
          </div>

        </div> <!-- /timeline-block -->

      </div> <!-- /timeline-wrap -->

    </div> <!-- /col-twelve -->

</section> <!-- /features -->


<!-- portfolio section
  ================================================== -->
  <section id="portfolio">

  <div class="row section-intro">
    <div class="col-twelve">

      <h5>Portfolio</h5>
      <h1>Check Out Some of My Works.</h1>

      <!--<p class="lead">Vladimir Yugov is a programmer and system administrator.</p>-->

    </div>
  </div> <!-- /section-intro-->

  <div class="row portfolio-content">

    <div class="col-twelve">

      <!-- portfolio-wrapper -->
      <div id="folio-wrapper" class="block-1-2 block-mob-full stack">

        {% for item in portfolio %}

        <div class="bgrid folio-item">
          <div class="item-wrap">
            <img src="{{ item.image }}" alt="{{ item.alt }}">
              <a href="{{ item.href }}" target="_blank" class="overlay">
              <div class="folio-item-table">
                <div class="folio-item-cell">
                  <h3 class="folio-title">{{ item.title }}</h3>
                  <span class="folio-types">
                    {{ item.types }}
                  </span>
                </div>
              </div>
            </a>
          </div>
        </div> <!-- /folio-item -->

        {% endfor %}

      </div> <!-- /portfolio-wrapper -->

    </div>  <!-- /twelve -->

  </div> <!-- /portfolio-content -->

</section> <!-- /portfolio -->

<!-- container section
  ================================================== -->
<section id="container">

<div class="container">

  <div class="card">
      <div class="face face1">
          <div class="content">
              <img src="static/images/design_128.png?raw=true">
              <h3>Design</h3>
          </div>
      </div>
      <div class="face face2">
          <div class="content">
              <p>The design for the website was invented by my imagination and made with love.</p>
                  <a class="smoothscroll" href="#intro">Read More</a>
          </div>
      </div>
  </div>

  <div class="card">
      <div class="face face1">
          <div class="content">
              <img src="static/images/code_128.png?raw=true">
              <h3>Code</h3>
          </div>
      </div>
      <div class="face face2">
          <div class="content">
              <p>The code for the site was made and thoroughly tested under a hot mug of green tea.</p>
                  <a class="smoothscroll" href="#intro">Read More</a>
          </div>
      </div>
  </div>

  <div class="card">
      <div class="face face1">
          <div class="content">
              <img src="static/images/launch_128.png?raw=true">
              <h3>Launch</h3>
          </div>
      </div>
      <div class="face face2">
          <div class="content">
              <p>The project has already been launched.</p>
                  <a class="smoothscroll" href="#intro">Read More</a>
          </div>
      </div>
  </div>

</div>

<!-- footer
  ================================================== -->

  <footer>
   <div class="row">

    <div class="col-six tab-full pull-right social">

     <ul class="footer-social">
       <li><a href="mailto:vv-yugov@yandex.ru"><i class="fa fa-envelope"></i></a></li>
       <li><a href="https://vk.com/vv.yugoff"><i class="fa fa-vk"></i></a></li>
       <li><a href="https://www.instagram.com/vv.yugoff/"><i class="fa fa-instagram"></i></a></li>
       <li><a href="https://github.com/yugoff/"><i class="fa fa-github"></i></a></li>
     </ul>

   </div>

    <div class="col-six tab-full">
    <div class="copyright">
      <span>© 2025 Vladimir Yugov</span>
    </div>
  </div> 

  <div id="go-top">
    <a class="smoothscroll" title="Back to Top" href="#top"><i class="fa fa-long-arrow-up"></i></a>
  </div>

</div> <!-- /row -->
</footer>

<div id="preloader">
	<div id="loader"></div>
</div>

<!-- Java Script
  ================================================== -->
  <script src="static/jquery-2.1.3.min.js"></script>
  <script src="static/plugins.js"></script>
  <script src="static/main.js"></script>
  <script src="static/face.js"></script>
  <script src="static/cursor.js"></script>
  <script src="static/greatness.js"></script>
  

</body>
</html>
